/* Main */

h1 {
	margin: 0;
}

header {
	height: 765px;
	background-color: purple;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	margin-bottom: 50px;
}

